@model IEnumerable<BlogUi.Models.CreditTransferInstruction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.pmtIdEndToEndId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pmtIdTxId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.intrBkSttlmAm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.chrgBr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.instInf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.msgDir)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pmtIdEndToEndId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pmtIdTxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intrBkSttlmAm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chrgBr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instInf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.msgDir)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cdTxId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cdTxId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cdTxId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
