@model BlogUi.Models.StatusCode

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StatusCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stsCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stsCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stsName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stsName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stsDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stsDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.stsCodeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
