@model IEnumerable<BlogUi.Models.StatusCode>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.stsCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stsName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stsDesc)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stsDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.stsCodeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.stsCodeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.stsCodeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
